<app-header></app-header>
<div class="container full-height">
    <div class="row">
        <div class="col-sm content-text full-width">
            <h1>Oh <span>oh!!!</span></h1>
            <p class="text">No encontramos esta página</p>
            <button mat-raised-button type="submit" class="btn-create" style="margin-top: 10px !important" [routerLink]="'/dashboard/home'">
        Ir al inicio
      </button>
        </div>
        <div class="col-sm content-img center-horizontal full-width">
            <img src="./../../assets/img/404.PNG" alt="404 imagen" />
        </div>
    </div>
</div>
<app-footer></app-footer>