<div class="title-users d-flex justify-content-between mt-4" style="margin-left: 10px !important">
    <h1>Información de mi cuenta</h1>
    <button class="btn-question" mat-raised-button matTooltip="Sección para ver los datos asociados a mi cuenta DOCGER." aria-label="Button that displays a tooltip when focused or hovered over">
    <i class="fas fa-question-circle fa-2x"></i>
  </button>
</div>
<div *ngIf="preload" class="row justify-content-center full-height" style="min-height: 100% !important">
    <div class="col-12 center-horizontal-vertical full-height flexbox-col">
        <img src="../../../../assets/loading/loading.gif" height="400px" alt="gif cargando" />
    </div>
</div>

<div *ngIf="!preload" class="row content-principal my-info">
    <div class="col second-content">
        <mat-card class="full-width full-height">
            <mat-label><strong>Nombre:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.first_name" readonly />
                <mat-icon matSuffix>spellcheck</mat-icon>
            </mat-form-field>

            <mat-label><strong>Apellido:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.last_name" readonly />
                <mat-icon matSuffix>spellcheck</mat-icon>
            </mat-form-field>

            <mat-label><strong>Usuario:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.username" readonly />
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
        </mat-card>
    </div>
    <div class="col center-horizontal-vertical">
        <img class="profile" src="./../../../../assets/icon/profile.png " alt="imagen de perfil DOCGER" />
    </div>
    <div class="w-100"></div>
    <div class="col third-content">
        <mat-card class="full-width full-height">
            <mat-label><strong>Email:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.email" readonly />
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-label><strong>Teléfono:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.phone_number" readonly />
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <mat-label><strong>Fecha de nacimiento:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.birthdate" readonly />
                <mat-icon matSuffix>insert_invitation</mat-icon>
            </mat-form-field>
        </mat-card>
    </div>
    <div class="col fourth-content">
        <mat-card class="full-width full-height">
            <mat-label><strong>Identificación:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.identification" readonly />
                <mat-icon matSuffix>assignment_ind</mat-icon>
            </mat-form-field>

            <mat-label><strong>Mi rol asignado:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput readonly [value]="actualUser.role_name" />
                <mat-icon matSuffix>supervisor_account</mat-icon>
            </mat-form-field>

            <mat-label><strong>Mi dependencia:</strong></mat-label>
            <mat-form-field class="full-width">
                <input matInput [value]="actualUser.dependency_name" readonly />
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>
        </mat-card>
    </div>
</div>
<p-toast></p-toast>
