/* Colores */

$principal-color-pinkish: #ff007d !important;
$principal-color-blue: #1d59c9 !important;
$principal-color-gray: #6d6d6d !important;
$principal-color-whiteSmoke: #f5f5f5 !important;
$secondary-color-green: #5edb3f !important;
$secondary-color-blue: #1ccbe0 !important;
$secondary-color-yellow: #ffd000 !important;
$secondary-color-red: #ff4e4e !important;

/* Estilos  badge */

.badge-assign {
    color: white !important;
    background-color: $principal-color-blue;
    font-size: 0.8rem;
}

.badge-not-assign {
    color: white !important;
    background-color: $principal-color-pinkish;
    font-size: 0.8rem;
}

.badge-file-document {
    color: rgb(255, 255, 255) !important;
    background-color: $principal-color-gray;
    font-size: 0.8rem;
}

.badge-process {
    color: rgb(255, 255, 255) !important;
    background-color: $secondary-color-blue;
    font-size: 0.8rem;
}

.badge-resolved {
    color: rgb(255, 255, 255) !important;
    background-color: $secondary-color-yellow;
    font-size: 0.8rem;
}

.badge-finished {
    color: rgb(255, 255, 255) !important;
    background-color: $secondary-color-green;
    font-size: 0.8rem;
}

.badge-returned {
    color: rgb(255, 255, 255) !important;
    background-color: $secondary-color-red;
    font-size: 0.8rem;
}

.badge-active-user {
    color: white !important;
    background-color: $principal-color-blue;
    font-size: 0.8rem;
}

.badge-inactive-user {
    color: white !important;
    background-color: $principal-color-pinkish;
    font-size: 0.8rem;
}