<app-header></app-header>

<div class="container" style="margin-bottom: 150px !important">
    <div class="row">
        <div class="col center-horizontal">
            <h1 class="title" style="margin-top: 20px !important; font-style: italic">DOCGER</h1>
        </div>
        <div style="margin-bottom: 10px !important; padding-right: 50px !important; padding-left: 50px !important">
            <p class="subtitle">
                Es un gestor documental dedicado a gestionar peticiones, quejas y reclamos (PQR), planeado, diseñado y desarrollado por estudiantes de la Universidad Pedagógica y Tecnológica de Colombia, para la alcaldía municipal de Turmequé en Boyacá, el equipo de
                desarrollo:
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card class="card-style">
                    <div class="col-sm center-horizontal">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h1 class="title-user-two center-horizontal">Director de proyecto</h1>
                                    <h3 class="title-user center-horizontal" style="text-align: justify !important">
                                        Edmundo Arturo Junco Orduz
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <a href="https://www.linkedin.com/in/arturo-junco-orduz-71b53659/" target="_blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                      </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <mat-card class="card-style">
                    <div class="col-sm center-horizontal">
                        <img class="img-profile" src="./../../../assets/img/tatiana.jpg" alt="Foto de perfil Tatiana" />
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="title-user center-horizontal">Tester</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center" style="margin-bottom: 10px !important">
                                        <a href="https://github.com/TatianaMartinezG" target=" _blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-github fa-2x"></i>
                      </button>
                                        </a>
                                    </div>

                                    <div class="text-center">
                                        <a href="https://www.linkedin.com/in/angela-tatiana-martinez" target="_blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                      </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card-style">
                    <div class="col-sm center-horizontal">
                        <img class="img-profile" src="./../../../assets/img/steven.jpg " alt="Foto de perfil Steven " />
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="title-user center-horizontal">Scrum Master</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center" style="margin-bottom: 10px !important">
                                        <a href="https://github.com/ZiqSteven" target=" _blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-github fa-2x"></i>
                      </button>
                                        </a>
                                    </div>

                                    <div class="text-center">
                                        <a href="https://www.linkedin.com/in/ziqsteven/" target="_blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                      </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <mat-card class="card-style">
                    <div class="col-sm center-horizontal">
                        <img class="img-profile" src="./../../../assets/img/miller.jpg " alt="Foto de perfil Miller " />
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="title-user center-horizontal">Front-end Developer</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center" style="margin-bottom: 10px !important">
                                        <a href="https://github.com/MillerReina" target=" _blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-github fa-2x"></i>
                      </button>
                                        </a>
                                    </div>

                                    <div class="text-center">
                                        <a href="https://www.linkedin.com/in/miller-johao-uchamocha-reina-059a351a7/" target="_blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                      </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card-style">
                    <div class="col-sm col-md-12 center-horizontal">
                        <img class="img-profile" src="./../../../assets/img/fabian.jpg " alt="Foto de perfil Fabian " />
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="title-user center-horizontal">Back-end Developer</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center" style="margin-bottom: 10px !important">
                                        <a href="https://github.com/fabianramos01" target=" _blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-github fa-2x"></i>
                      </button>
                                        </a>
                                    </div>

                                    <div class="text-center">
                                        <a href="https://www.linkedin.com/in/fabian-ramos-063457196/" target="_blank ">
                                            <button mat-fab aria-label="Example icon button with a delete icon ">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                      </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>