<app-header></app-header>
<div class="container shadow mt-5 animate__animated animate__fadeInLeft animate__faster">
    <div class="row">
        <div class="col-8 cont-back-ground">
            <img src="./../../../assets/img/back-ground-2.jpg" class="back-ground d-inline-block align-top" alt="" loading="lazy" />
        </div>
        <div class="col cont-form">
            <div class="row">
                <div class="col login-title center-horizontal-vertical">
                    <h1><strong> Ingresa tu nueva contraseña</strong></h1>
                </div>
                <form autocomplete="off" [formGroup]="recoveryForm" (ngSubmit)="changePassword()">
                    <div class="col-12 center-horizontal-vertical" [ngClass]="{
              myelement: passwordOneIsInvalid
            }">
                        <mat-form-field appearance="outline" class="col-12 col-md-10 col-lg-8" color="accent">
                            <mat-label> Contraseña </mat-label>
                            <input matInput formControlName="password" autocomplete="off" minlength="6" [type]="hide ? 'password' : 'text'" />
                            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="passwordOneIsInvalid"> Debe contener almenos 6 carácteres </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 center-horizontal-vertical" [ngClass]="{
              myelement: passwordOneIsInvalid
            }">
                        <mat-form-field appearance="outline" class="col-12 col-md-10 col-lg-8" color="accent">
                            <mat-label> Confirmar contraseña </mat-label>
                            <input matInput formControlName="password_2" autocomplete="off" minlength="6" [type]="hide ? 'password' : 'text'" />
                            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="passwordTwoIsInvalid"> Las contraseñas no coinciden </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 cont-login center-horizontal-vertical mt-3">
                        <div class="text-center">
                            <button mat-raised-button class="btn-login" color="accent" style="margin-right: 10px !important">
                Cambiar contraseña
              </button>
                        </div>
                        <div>
                            <a class="recover-link" [routerLink]="['/login']">Iniciar sesión</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>