<nav class="navbar navbar-light bg-light">
    <div class="row justify-content-center full-width a">
        <div class="col-2 center-horizontal-vertical">
            <a class="navbar-brand" [routerLink]="['/login']">
                <div class="turmeque-shield">
                    <img src="./../../../assets/img/escudo.png" class="shield d-inline-block align-top" alt="escudo de turmequé" loading="lazy" />
                </div>
            </a>
        </div>
        <div class="col-5 first-title center-horizontal-vertical">
            <h3><strong>Alcaldía Municipal De Turmequé en Boyacá</strong></h3>
        </div>
        <div class="col-3 second-title d-flex flex-row-reverse mt-4">
            <h1><strong>DOCGER</strong></h1>
        </div>
    </div>
</nav>