@import './../../../../../../styles.scss';
@import './../../../../components/officers-table/officers-table.component.scss';
::ng-deep .mat-raised-button {
    outline: none !important;
}

::ng-deep .mat-raised-button:hover {
    background-color: $principal-color-pinkish;
    color: whitesmoke !important;
}

td,
th {
    width: 15% !important;
}

.btn-username {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    outline: none;
}