@import '../../../../styles.scss';
@import '../../dashboard.component.scss';
::ng-deep .cdk-overlay-pane {
    max-height: 78vh !important;
}

.mat-menu-panel {
    width: 900px !important;
}

.card {
    cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    width: 100%;
}

.card:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(0.97);
}