@import '../../../../styles.scss';
@import '../../dashboard.component.scss';
::ng-deep .cdk-overlay-pane {
    max-height: 78vh !important;
}

::ng-deep .mat-flat-button {
    outline: none !important;
    background-color: $principal-color-blue;
}

.mat-menu-panel {
    width: 900px !important;
}

.card {
    cursor: pointer;
    transition: width 2s, height 2s, transform 0.2s !important;
}

.card:hover {
    transform: scale(0.97) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}