<button class="btn-bell" mat-raised-button [matMenuTriggerFor]="belowMenu" matBadge="1" matBadgePosition="before" matBadgeColor="accent" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" style="margin-left: 10px !important">
  <mat-icon mat-list-icon class="icon-bell">notifications</mat-icon>
</button>
<mat-menu #belowMenu="matMenu" xPosition="before" class="animate__animated animate__fadeIn animate__faster">
    <div class="card" *ngFor="let notification of notifications.notifications">
        <div class="card-header center-vertical">
            <mat-icon mat-list-icon style="margin-right: 10px !important">description</mat-icon> {{ getDay(notification) }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: 14px">{{ notification.description }}.</p>
            </blockquote>
        </div>
    </div>
</mat-menu>