@import './../../../../../../styles.scss';
mat-dialog-content {
    height: 1500px !important;
    width: 1000px !important;
}

.title-users {
    margin-bottom: 0px !important;
    font-weight: bold;
    color: $principal-color-blue;
    font-size: 2.5em;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
    padding: 10px !important;
    text-align: center !important;
}

.mat-dialog-actions {
    padding-top: 0px !important;
    margin: 0px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 0px !important;
}

.secondary {
    background-image: radial-gradient( circle at 120.71% 50%, #3d3d3d 0, #3d3d3d 5%, #3d3d3d 10%, #3d3d3d 15%, #3d3d3d 20%, #3d3d3d 25%, #3d3d3d 30%, #3d3d3d 35%, #3d3d3d 40%, #3d3d3d 45%, #3d3d3d 50%, #3d3d3d 55%, #3d3d3d 60%, #3d3d3d 65%, #3d3d3d 70%, #3d3d3d 75%, #3d3d3d 80%, #3d3d3d 85%, #3d3d3d 90%, #3d3d3d 95%, #3d3d3d 100%);
}

.button-class {
    padding: 3px !important;
    margin: 3px !important;
}

@media (max-width: 700px) {
    .title-users {
        font-size: 1.7em;
        text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
        text-align: center !important;
    }
    mat-dialog-content {
        height: auto !important;
        width: auto !important;
        padding-left: 24px !important;
    }
}