@import './../../../../../../styles.scss';
mat-dialog-content {
    height: 1500px !important;
    width: 1000px !important;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $principal-color-blue;
}

.title-users {
    margin-bottom: 0px !important;
    font-weight: bold;
    color: $principal-color-blue;
    font-size: 2.5em;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
    padding: 10px !important;
    text-align: center !important;
}

.mat-dialog-actions {
    padding-top: 0px !important;
    margin: 0px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 0px !important;
}

.secondary {
    background: rgb(26, 86, 199);
    background: radial-gradient(circle, rgba(26, 86, 199, 1) 0%, rgba(29, 89, 201, 1) 100%);
}

.button-class {
    padding: 3px !important;
    margin: 3px !important;
}

@media (max-width: 700px) {
    .title-users {
        font-size: 1.7em;
        text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
        text-align: center !important;
    }
    mat-dialog-content {
        height: auto !important;
        width: auto !important;
        padding-left: 24px !important;
    }
}
