<div class="container principal">
    <h1 mat-dialog-title class="title center-horizontal">Generar comprobante de radicado</h1>

    <div mat-dialog-content class="dialog-content">
        <div class="container center-horizontal-vertical full-height">
            <div class="row full-height full-width">
                <div class="container">
                    <div class="row">
                        <div *ngIf="preload" class="row justify-content-center full-height" style="min-height: 100% !important">
                            <div class="col-12 center-horizontal-vertical full-height flexbox-col">
                                <img src="../../../../assets/loading/loading.gif" height="400px" alt="gif cargando" />
                            </div>
                        </div>
                        <div class="col subtitle">
                            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" [expandable]="false" [multiple]="false" [disableClick]="files.length > 0" [expandable]="false" name="annex">
                                <ngx-dropzone-label>
                                    <div>
                                        <h2>Arrastra o selecciona el comprobante.</h2>
                                    </div>
                                </ngx-dropzone-label>
                                <!-- <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label i ngx-dropzonee-label style="margin-top: 70px !important">{{ f.name | slice: 0:14 }}... {{ f.type | extension }}</ngx-dropzone-label>
                                </ngx-dropzone-preview> -->
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label i ngx-dropzonee-label style="margin-top: 70px !important">{{ f.name | slice: 0:14 }}... {{ f.type | extension }}</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!preload" mat-dialog-actions class="center-horizontal full-width">
        <div class="container secondary">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <button mat-raised-button type="submit" class="full-width" (click)="finishDocument()">
            <i class="fas fa-check fa-lg" style="margin-right: 5px !important"></i>
            Finalizar radicado
          </button>
                </div>
                <div class="col d-flex justify-content-start">
                    <button mat-raised-button type="button" class="btn-close-dialog full-width" (click)="cancel()">
            <i class="fas fa-window-close fa-lg" style="margin-right: 5px !important"></i>
            Cerrar
          </button>
                </div>
            </div>
        </div>
    </div>
</div>