<div *ngIf="preload || postCreate" class="row justify-content-center full-height" style="min-height: 100% !important">
    <div class="col-12 center-horizontal-vertical full-height flexbox-col">
        <img src="../../../../assets/loading/loading.gif" height="400px" alt="gif cargando" />
    </div>
</div>

<div *ngIf="!preload && !postCreate">
    <div class="title-documents d-flex justify-content-between mt-4" style="margin-left: 10px !important">
        <h1>Radicar nuevo documento</h1>
        <button class="btn-question" mat-raised-button matTooltip="Sección para radicar nuevos documentos que llegan en físico a la alcaldía." aria-label="Button that displays a tooltip when focused or hovered over">
      <i class="fas fa-question-circle fa-2x"></i>
    </button>
    </div>

    <div class="container content-principal">
        <mat-card>
            <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="registerDocument()">
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: senderFirstNameIsInvalid
              }">
                            <mat-label>Nombre remitente</mat-label>
                            <input matInput formControlName="sender_first_name" value="" [placeholder]="" autocomplete="off" type="text" maxlength="30" required />
                            <mat-error *ngIf="senderFirstNameIsInvalid"> Ingrese un nombre válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: senderLastNameIsInvalid
              }">
                            <mat-label>Apellido remitente</mat-label>
                            <input matInput formControlName="sender_last_name" value="" [placeholder]="" autocomplete="off" type="text" maxlength="30" required />
                            <mat-error *ngIf="senderLastNameIsInvalid"> Ingrese un apellido válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: phoneNumberIsInvalid
              }">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone_number" value="" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" required />
                            <mat-error *ngIf="phoneNumberIsInvalid"> Ingrese un número válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: addressIsInvalid
              }">
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="address" value="" autocomplete="off" type="text" maxlength="30" required />
                            <mat-error *ngIf="addressIsInvalid"> Ingrese un número válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: senderEmailIsInvalid
              }">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="sender_email" value="" autocomplete="off" required />
                            <mat-error *ngIf="senderEmailIsInvalid"> Ingrese un correo válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: institutionNameIsInvalid
              }">
                            <mat-label>Entidad</mat-label>
                            <input matInput formControlName="institution_name" value="" autocomplete="off" />
                            <mat-error *ngIf="institutionNameIsInvalid"> Ingrese un nombre de entidad válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: identificationTypeIsInvalid
              }">
                            <mat-label>Tipo de identificación</mat-label>
                            <mat-select formControlName="identification_type" name="typeId" required>
                                <mat-option *ngFor="let type of listIDTypes" [value]="type.id">{{ type.name }} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="identificationTypeIsInvalid"> Seleccione un tipo válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: senderIdentificationIsInvalid
              }">
                            <mat-label>Número de identificación</mat-label>
                            <input matInput formControlName="sender_identification" value="" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="6" required />
                            <mat-error *ngIf="senderIdentificationIsInvalid"> Ingrese una identificación válida por favor </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: dependencyIsInvalid
              }">
                            <mat-label>Dependencia destino</mat-label>
                            <mat-select formControlName="dependency" name="dependency" required>
                                <mat-option *ngFor="let dependency of listDependencies" [value]="dependency.id">{{ dependency.name_dependency }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="dependencyIsInvalid"> Seleccione una dependencia válida por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: subjectIsInvalid
              }">
                            <mat-label>Asunto</mat-label>
                            <textarea matInput formControlName="subject" placeholder="Descripcíon del documento - máx. 500 carácteres." cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6" cdkAutosizeMaxRows="6" maxlength="500" required></textarea>
                            <mat-error *ngIf="subjectIsInvalid"> Ingrese un asunto por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: documentTypeIsInvalid
              }">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select formControlName="document_type" name="document_type" required>
                                <mat-option *ngFor="let docType of listDocumentType" [value]="docType.id">{{ docType.name_document_type }} ({{ docType.suggested_working_days }} días).
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="documentTypeIsInvalid"> Seleccione un tipo de documento válido por favor </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>