@import './../../../../styles.scss';
@import './../users/users.component.scss';
::ng-deep .mat-raised-button {
    outline: none !important;
}

.btn-create-user:hover {
    background-color: rgb(78, 65, 255) !important;
}

.btn-create-user {
    background-color: $principal-color-blue;
    color: whitesmoke !important;
}

.btn-import:hover {
    background-color: rgb(18, 211, 0) !important;
}

.btn-import {
    background-color: $secondary-color-green;
    color: whitesmoke !important;
}

@media (max-width: 700px) {
    .right-side {
        margin-left: 50px !important;
    }
    .btn-import {
        margin-bottom: 5px !important;
    }
}
