<div *ngIf="preload || postCreate" class="row justify-content-center full-height" style="min-height: 100% !important">
    <div class="col-12 center-horizontal-vertical full-height flexbox-col">
        <img src="../../../../assets/loading/loading.gif" height="400px" alt="gif cargando" />
    </div>
</div>
<div *ngIf="!preload && !postCreate">
    <div *ngIf="!editState" class="title-users d-flex justify-content-between mt-4" style="margin-left: 10px !important">
        <h1>Crear nuevo funcionario</h1>
        <button class="btn-question" mat-raised-button matTooltip="Sección para crear las cuentas de los funcionarios que trabajan en la alcaldía." aria-label="Button that displays a tooltip when focused or hovered over">
      <i class="fas fa-question-circle fa-2x"></i>
    </button>
    </div>

    <div *ngIf="editState" class="title-users d-flex justify-content-between mt-4" style="margin-left: 10px !important">
        <h1>Editar funcionario</h1>
        <button class="btn-question" mat-raised-button matTooltip="Sección para crear las cuentas de los funcionarios que trabajan en la alcaldía." aria-label="Button that displays a tooltip when focused or hovered over">
      <i class="fas fa-question-circle fa-2x"></i>
    </button>
    </div>
    <div class="container content-principal">
        <mat-card>
            <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createOfficer()">
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: userNameIsInvalid
              }">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="username" value="" autocomplete="off" type="text" pattern="[a-z0-9.-]+.[a-z0-9]{2,3}$" />
                            <mat-icon matSuffix matTooltip="ejm: nombre.apellido"> help</mat-icon>
                            <mat-error *ngIf="userNameIsInvalid"> Ingrese un usuario válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: nameIsInvalid
              }">
                            <mat-label>Nombres</mat-label>
                            <input matInput type="text" appAlphabetOnlyDirective formControlName="first_name" value="" autocomplete="off" pattern="[a-zA-Z ]*" maxlength="30" />
                            <mat-error *ngIf="nameIsInvalid"> Ingrese un nombre válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: lastNameIsInvalid
              }">
                            <mat-label>Apellidos</mat-label>
                            <input matInput type="text" appAlphabetOnlyDirective formControlName="last_name" value="" autocomplete="off" maxlength="30" />
                            <mat-error *ngIf="lastNameIsInvalid"> Ingrese un apellido válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: emailIsInvalid
              }">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" value="" autocomplete="off" />
                            <mat-error *ngIf="emailIsInvalid"> Ingrese un correo válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: birthDateIsInvalid
              }">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput formControlName="birthdate" [matDatepicker]="picker" [max]="maxDate" [value]="" autocomplete="off" />
                            <mat-error *ngIf="birthDateIsInvalid"> Ingrese una fecha válida por favor </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: phoneIsInvalid
              }">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone_number" value="" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" />
                            <mat-error *ngIf="phoneIsInvalid"> Ingrese un teléfono válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!editState" appearance="outline" class="full-width" [ngClass]="{
                myelement: passwordOneIsInvalid
              }">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" value="" autocomplete="off" minlength="6" [type]="hide ? 'password' : 'text'" />
                            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="passwordOneIsInvalid"> Debe contener almenos 6 carácteres </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!editState" appearance="outline" class="full-width" [ngClass]="{
                myelement: passwordTwoIsInvalid
              }">
                            <mat-label>Confirmar contraseña</mat-label>
                            <input matInput formControlName="password_2" value="" autocomplete="off" minlength="6" [type]="hide ? 'password' : 'text'" />
                            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            <mat-error *ngIf="passwordTwoIsInvalid"> Las contraseñas no coinciden </mat-error>
                            <!--  <small *ngIf="passwordTwoIsEmpty && passwordOneIsInvalid" class="text-danger">
            Debe contener almenos 6 carácteres
          </small> -->
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: idIsInvalid
              }">
                            <mat-label>Número de identificación</mat-label>
                            <input matInput formControlName="identification" value="" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="6" />
                            <mat-error *ngIf="idIsInvalid"> Ingrese una identificación válida por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: typeIdIsInvalid
              }">
                            <mat-label>Tipo de identificación</mat-label>
                            <mat-select formControlName="type_identification" name="typeId">
                                <mat-option *ngFor="let type of listIDTypes" [value]="type.id">{{ type.name }} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="typeIdIsInvalid"> Seleccione un tipo válido por favor </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" [ngClass]="{
                myelement: dependencyIsInvalid
              }">
                            <mat-label>Dependencia</mat-label>
                            <mat-select formControlName="dependency" name="dependency">
                                <mat-option *ngFor="let dependency of listDependencies" [value]="dependency.id">{{ dependency.name_dependency }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="dependencyIsInvalid"> Seleccione una dependencia válida por favor </mat-error>
                        </mat-form-field>

                        <table class="table table-content" formArrayName="roles">
                            <tr>
                                <th>
                                    <h4 class="title" style="font-style: oblique">Asignar rol:</h4>
                                </th>
                                <th>
                                    <button *ngIf="counter < listRoles.length - 1" mat-raised-button type="button" (click)="addRol()" class="td-icon">
                    <i class="fas fa-plus-circle fa-lg"></i>
                  </button>
                                </th>
                            </tr>
                            <tr *ngFor="let rol of roles().controls; let i = index" [formGroupName]="i">
                                <td class="full-width" style="height: 10% !important">
                                    <mat-form-field class="field" appearance="outline" class="full-width" style="margin-top: 15px !important" [ngClass]="{
                      myelement: roleIsInvalid
                    }">
                                        <mat-label>Rol</mat-label>
                                        <mat-select formControlName="rol" name="rol">
                                            <mat-option *ngFor="let item of listRoles" [value]="item.id">{{ item.name_role }} </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="roleIsInvalid"> Seleccione un rol por favor </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button *ngIf="counter" (click)="removeQuantity(i)" mat-raised-button type="button" class="td-icon">
                    <i class="fas fa-trash-alt fa-lg"></i>
                  </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div mat-dialog-actions class="content-actions center-horizontal full-width mt-4 mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button *ngIf="!editState" mat-raised-button type="submit" class="btn-create full-width">
                  <i class="fas fa-user-plus fa-lg" style="margin-right: 5px !important"></i>
                  Registrar funcionario
                </button>
                                <button *ngIf="editState" mat-raised-button type="button" class="btn-create full-width" (click)="saveChanges()">
                  <i class="fas fa-save fa-lg" style="margin-right: 5px !important"></i>
                  Guardar cambios
                </button>
                            </div>
                            <div class="col d-flex justify-content-start content-type-id">
                                <button mat-raised-button type="button" (click)="goToBack()" class="full-width">
                  <i class="fas fa-window-close fa-lg" style="margin-right: 5px !important"></i>
                  Cancelar
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
<p-toast></p-toast>
