@import './../../../../styles.scss';
td,
th {
    width: 14% !important;
}

table {
    width: 100% !important;
    position: relative;
}

mat-paginator {
    margin-bottom: 30px !important;
}

mat-paginator mat-button {
    outline: none !important;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mat-header-cell {
    font-weight: bold;
    font-size: 1em;
}

.btn-username {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    outline: none;
}

@media (max-width: 700px) {
    .example-container {
        overflow-x: scroll;
    }
    .mat-table .mat-cell {
        font-size: 0.8em;
        height: 30px;
        margin-bottom: 4%;
    }
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        font-size: 0.9em;
    }
    .btn-username {
        font-size: 1em;
        margin-right: 10px !important;
    }
}