<app-header></app-header>
<mat-sidenav-container class="container-sidenav">
    <mat-sidenav-content>
        <div class="container full-height">
            <div class="row full-height">
                <div class="col content-icon-list d-flex justify-content-start">
                    <button class="icon-btn" mat-button (click)="sidenav.toggle()">
            <i class="fas fa-bars fa-2x"></i>
          </button>
                </div>

                <div class="col content-icon-list d-flex justify-content-end full-height">
                    <img class="user-icon" src="./../../assets/icon/profile-icon.png" alt="icono de desplegar" />
                    <div class="user-name">
                        <h3>Miller Johao Uchamocha</h3>
                    </div>
                    <button class="icon-btn" mat-button [matMenuTriggerFor]="menu">
            <i class="fas fa-caret-down fa-2x"></i>
          </button>
                    <mat-menu #menu="matMenu">
                        <button class="icon-btn drop-down" mat-menu-item>Mi perfil</button>
                        <hr />
                        <button class="icon-btn drop-down" mat-menu-item (click)="logout()">Cerrar sesión</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [fixedInViewport]="true" fixedTopGap="137">
        <mat-nav-list>
            <a mat-list-item routerLink="." class="docger">
                <img class="principal-icon" src="./../../assets/icon/docger-icon.png" alt="icono docger" />
                <strong>DOCGER</strong>
            </a>

            <a mat-list-item [routerLink]="'/dashboard/home'">
                <mat-icon mat-list-icon>home</mat-icon>
                <div style="float: right !important">Inicio</div>
            </a>
            <hr />
            <a mat-list-item (click)="toggleMenuDocuments()">
                <mat-icon mat-list-icon>description</mat-icon>Documentos
                <mat-icon *ngIf="!showMenuDocuments">chevron_right</mat-icon>
                <mat-icon *ngIf="showMenuDocuments">expand_more</mat-icon>
            </a>
            <mat-nav-list class="sidenav-submenu animation-fadeIn" *ngIf="showMenuDocuments">
                <a mat-list-item [routerLink]="'/dashboard/all'"> Todos</a>
                <a mat-list-item> En proceso</a>
                <a mat-list-item> Resueltos</a>
                <a mat-list-item> Finalizados</a>
                <a mat-list-item> Devueltos</a>
            </mat-nav-list>
            <hr />
            <a mat-list-item (click)="toggleMenuUsers()">
                <mat-icon mat-list-icon>face</mat-icon>Usuarios
                <mat-icon *ngIf="!showMenuUsers">chevron_right</mat-icon>
                <mat-icon *ngIf="showMenuUsers">expand_more</mat-icon>
            </a>
            <mat-nav-list class="sidenav-submenu animation-fadeIn" *ngIf="showMenuUsers">
                <a mat-list-item> Radicadores</a>
                <a mat-list-item> Funcionarios</a>
            </mat-nav-list>
            <hr />
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

<div class="img-map">
    <img class="map" src="./../../assets/img/map.png" height="500px" alt="mapa de boyaca" />
</div>
<div class="img-flag">
    <img class="flag" src="./../../assets/img/flag-boyaca.svg" alt="bandera de boyaca" />
</div>
<div class="container">
    <div class="row">
        <div class="col-12 center-horizontal-vertical full-width">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-toast></p-toast>