<app-header></app-header>
<div *ngIf="preload" class="row justify-content-center full-height" style="min-height: 100% !important">
    <div class="col-12 center-horizontal-vertical full-height flexbox-col">
        <img src="../../../../assets/loading/loading.gif" height="400px" alt="gif cargando" />
    </div>
</div>
<div *ngIf="!preload" class="example-container full-height">
    <mat-toolbar>
        <div class="container full-height">
            <div class="row full-height">
                <div class="col content-icon-list d-flex justify-content-start">
                    <button class="icon-btn" mat-button (click)="sidenav.toggle()">
            <i class="fas fa-bars fa-2x"></i>
          </button>
                </div>
                <div class="col content-icon-list d-flex justify-content-around full-height">
                    <div class="container" style="padding-right: 0px !important">
                        <div class="row full-height">
                            <div class="col-8" style="padding-right: 0px !important">
                                <div class="user-name d-flex justify-content-end">
                                    <h3>{{ this.user.username }}</h3>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-end" style="padding-right: 0px !important">
                                <div>
                                    <app-menu-notifications></app-menu-notifications>
                                </div>
                                <div>
                                    <button class="icon-btn full-height center-horizontal-vertical" mat-button [matMenuTriggerFor]="menu">
                    <i class="fas fa-caret-down fa-2x"></i>
                  </button>

                                    <mat-menu #menu="matMenu" #beforeMenu="matMenu" xPosition="before">
                                        <button class="icon-btn drop-down" mat-menu-item [routerLink]="'/dashboard/my-profile'" style="text-align: center !important" (click)="sidenav.close()">
                      <i class="icon fas fa-id-badge fa-lg" style="margin-right: 5px"></i>Ver mi perfil
                    </button>
                                        <hr />
                                        <button class="icon-btn drop-down" mat-menu-item (click)="logout()" style="text-align: center !important">
                      <i class="icon fas fa-sign-out-alt fa-lg" style="margin-right: 5px"></i> Salir
                    </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--


                   -->
                </div>
            </div>
        </div>
    </mat-toolbar>

    <div class="full-height">
        <mat-sidenav-container class="example-sidenav-container full-height">
            <mat-sidenav #sidenav [(opened)]="opened" [fixedInViewport]="true" fixedTopGap="0" [autoFocus]="true" [autoFocus]="false">
                <mat-nav-list>
                    <a mat-list-item routerLink="." class="docger">
                        <img class="principal-icon" src="./../../assets/icon/docger-icon.png" alt="icono docger" />
                        <strong>DOCGER</strong>
                    </a>

                    <a mat-list-item [routerLink]="'/dashboard/home'" (click)="sidenav.close()">
                        <mat-icon mat-list-icon>home</mat-icon>
                        Inicio
                    </a>
                    <hr />
                    <a mat-list-item (click)="toggleMenuDocuments()">
                        <mat-icon mat-list-icon>description</mat-icon>Documentos
                        <mat-icon *ngIf="!showMenuDocuments">chevron_right</mat-icon>
                        <mat-icon *ngIf="showMenuDocuments">expand_more</mat-icon>
                    </a>
                    <mat-nav-list class="sidenav-submenu" *ngIf="showMenuDocuments" (click)="sidenav.close()">
                        <a mat-list-item [routerLink]="'/dashboard/all'"> Todos</a>
                        <a mat-list-item [routerLink]="'/dashboard/in-process'"> En proceso</a>
                        <a mat-list-item [routerLink]="'/dashboard/resolved'"> Resueltos</a>
                        <a mat-list-item [routerLink]="'/dashboard/finished'"> Finalizados</a>
                        <a mat-list-item [routerLink]="'/dashboard/returned'"> Devueltos</a>
                        <a mat-list-item [routerLink]="'/dashboard/doc-types'" *ngIf="isAdmin"> Tipos de documento</a>
                    </mat-nav-list>

                    <hr *ngIf="isAdmin" />

                    <a *ngIf="isAdmin" mat-list-item [routerLink]="'/dashboard/extensions'" (click)="sidenav.close()">
                        <mat-icon mat-list-icon>watch_later</mat-icon>
                        Prórrogas
                    </a>

                    <hr />

                    <a mat-list-item (click)="toggleMenuExternal()">
                        <mat-icon mat-list-icon>outbox</mat-icon>
                        Solicitudes ext.
                        <mat-icon *ngIf="!showMenuExternal">chevron_right</mat-icon>
                        <mat-icon *ngIf="showMenuExternal">expand_more</mat-icon>
                    </a>
                    <mat-nav-list class="sidenav-submenu" *ngIf="showMenuExternal" (click)="sidenav.close()">
                        <a mat-list-item [routerLink]="'/dashboard/external'"> Todas</a>
                        <a mat-list-item [routerLink]="'/dashboard/external/in-process'"> Radicadas</a>
                        <a mat-list-item [routerLink]="'/dashboard/external/resolved'"> Resueltas</a>
                        <a mat-list-item [routerLink]="'/dashboard/external/finished'"> Finalizadas</a>
                    </mat-nav-list>

                    <hr />

                    <a *ngIf="isAdmin" mat-list-item (click)="toggleMenuUsers()">
                        <mat-icon mat-list-icon>face</mat-icon> Usuarios
                        <mat-icon *ngIf="!showMenuUsers">chevron_right</mat-icon>
                        <mat-icon *ngIf="showMenuUsers">expand_more</mat-icon>
                    </a>

                    <mat-nav-list class="sidenav-submenu" *ngIf="showMenuUsers" (click)="sidenav.close()">
                        <a mat-list-item [routerLink]="'/dashboard/officers'"> Funcionarios </a>
                    </mat-nav-list>

                    <hr *ngIf="isAdmin" />

                    <a *ngIf="isAdmin" mat-list-item [routerLink]="'/dashboard/dependencies'" (click)="sidenav.close()">
                        <mat-icon mat-list-icon>apartment</mat-icon>
                        Dependencias
                    </a>

                    <hr *ngIf="isAdmin" />

                    <a *ngIf="isAdmin" mat-list-item (click)="toggleMenuReports()">
                        <mat-icon mat-list-icon>bar_chart</mat-icon>Reportes
                        <mat-icon *ngIf="!showMenuReports">chevron_right</mat-icon>
                        <mat-icon *ngIf="showMenuReports">expand_more</mat-icon>
                    </a>

                    <mat-nav-list class="sidenav-submenu" *ngIf="showMenuReports">
                        <a *ngIf="isAdmin" mat-list-item (click)="toggleMenuGraphics()">
                            <mat-icon mat-list-icon>add</mat-icon>Gráficos
                            <mat-icon *ngIf="!showMenuGraphics">chevron_right</mat-icon>
                            <mat-icon *ngIf="showMenuGraphics">expand_more</mat-icon>
                        </a>
                        <mat-nav-list class="sidenav-submenu" *ngIf="showMenuGraphics" (click)="sidenav.close()">
                            <a mat-list-item style="padding-left: 20px !important" [routerLink]="'reports/documents'">
                                <mat-icon mat-list-icon>horizontal_rule</mat-icon> Documentos</a>
                            <a mat-list-item style="padding-left: 20px !important" [routerLink]="'reports/performance'">
                                <mat-icon mat-list-icon>horizontal_rule</mat-icon> Desempeño</a>
                        </mat-nav-list>
                        <a mat-list-item [routerLink]="'reports/officers'" (click)="sidenav.close()">
                            <mat-icon mat-list-icon>add</mat-icon> Funcionarios</a>
                    </mat-nav-list>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="container">
                    <div class="full-height">
                        <div style="height: auto !important">
                            <div class="img-map">
                                <img class="map" src="./../../assets/img/map.png" height="500px" alt="mapa de boyaca" />
                            </div>
                            <div class="img-flag">
                                <img class="flag" src="./../../assets/img/flag-boyaca.svg" alt="bandera de boyaca" />
                            </div>
                            <div class="example-container">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
<p-toast></p-toast>