@import './../../../../../styles.scss';
@import './../../users/users.component.scss';
::ng-deep .mat-raised-button {
    outline: none !important;
}

::ng-deep .mat-raised-button:hover {
    background-color: $principal-color-pinkish;
    color: whitesmoke !important;
}

::ng-deep mat-form-field .field {
    padding: 0px !important;
    margin-top: 0px !important;
}

h4 {
    padding: 0px !important;
    margin-bottom: 13px !important;
}

table tr {
    padding: 0px !important;
}

mat-card {
    margin-bottom: 100px !important;
}

.content-principal {
    margin-top: 60px !important;
    background-color: $principal-color-gray !important;
    padding: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-type-id {
    padding-left: 10px !important;
}

.btn-question {
    border-radius: 100px !important;
}

.col-sm {
    font-size: 1em !important;
}

.content-actions .mat-raised-button {
    font-size: 1em !important;
}

.td-icon {
    padding: 3px !important;
}

.title {
    margin-top: 13px !important;
    padding: 0px !important;
    padding-left: 11px !important;
    color: #a4a4a4 !important;
}

.table-content {
    border-radius: 10px !important;
}

.myelement {
    animation: headShake;
    animation-duration: 1s;
}

@media (max-width: 700px) {
    .content-principal {
        margin-bottom: 50px !important;
    }
    .btn-create {
        margin-bottom: 12px !important;
    }
}
