<footer>
    <div class="container text-center">
        <div class="d-flex justify-content-center" style="margin-top: 10px !important">
            <img class="co-img" src="../../../assets/icon/co-colombia.png " alt="logo Co Colombia " />

            <img class="gov-img" src="../../../assets/icon/logo-gov-w.svg " alt="logo gobernacion " />

            <img class="uptc-img" src="../../../assets/icon/uptc.png " alt="logo UPTC " />
            <p class="center-horizontal-vertical full-width" style="color: #dbdbdb; font-size: 12px">
                Copyright © 2021 DOCGER. Alcaldía de Turmequé. Todos los derechos reservados
            </p>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" matTooltip="Acerca de" [routerLink]="'/about'">
        <i class="fas fa-question-circle fa-2x"></i>
      </button>
        </div>
    </div>
</footer>