<footer class="bg-light text-center text-lg-start" style="margin-top: 50px !important">
    <hr />
    <div class="container text-center">
        <div class="nav d-flex justify-content-start">
            <img class="co-img" src="../../../assets/icon/co-colombia.png " alt="logo Co Colombia " />
            <div class="verticalLine"></div>
            <img class="gov-img" src="../../../assets/icon/logo-gov-w.svg " alt="logo gobernacion " />
            <div class="verticalLine"></div>
            <img class="uptc-img" src="../../../assets/icon/uptc.png " alt="logo UPTC " />
        </div>
    </div>
</footer>